<!DOCTYPE html>

<html lang="en">

<head>
  <title>Stock Informant</title>
  <meta charset="utf-8" />
  <link rel="shortcut icon" href="#" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="../static/custom-scripts.js"></script>
  <link rel="stylesheet" href="../static/custom-style.css" />

  <style></style>
</head>

<body>
  <div class="container-fluid">
    <div class="mt-5 row d-flex justify-content-center">
      <p class="h2"><strong>Stock Informant</strong></p>
    </div>
    <div id="input-data-row" class="mt-4 mb-4 ml-4 mr-4 row">
      <div class="col-sm-2 d-flex">
        <div class="card custom-card-header w-100">
          <div class="h5 card-header text-center">Fetch Data for Ticker</div>
          <div>
            <div class="card-body">
              <div id="input-container" class="row d-flex text-center justify-content-center">
                <form class="ticker-entry">
                  <input type="text" name="ticker" id="ticker" class="form-control form-control-sm text-center"
                    placeholder="ticker" required />
                  <button type="button" id="fetch-button" class="btn btn-primary mt-2">
                    Fetch Data
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col d-flex justify-content-center">
        <div class="card custom-card-header w-100">
          <div class="card-header text-center">
            <div class="row d-flex justify-content-center align-items-center">
              <p class="h5 mb-0 mr-3">Showing Stock Data For:</p>
              <button type="button" class="btn" role="button" data-placement="top" data-trigger="hover"
                title="{{data.company_summary}}" id="company-summary">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-info-circle" viewBox="0 0 16 16">
                  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                  <path
                    d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                </svg>
              </button>
            </div>
          </div>
          <div class="card-body pb-0 ml-3 mr-3">
            <div class="row pb-4 justify-content-between">
              <p class="h5">Company name</p>
              <p class="h5" id="company-name">
                <strong>{{data.company_name}} ({{data.company_ticker}})</strong>
              </p>
            </div>
            <div class="row justify-content-between">
              <h5 class="card-subtitle mb-2 pb-2">
                Current Price
              </h5>
              <h5 class="card-subtitle mb-2 text-success pb-2" id="current-price">
                <strong>${{data.current_price}}</strong>
              </h5>
            </div>
          </div>
        </div>
      </div>
      <div id="quick-data" class="col">
        <div class="card custom-card-header w-100">
          <div class="card-header text-center">
            <div class="row d-flex justify-content-center align-items-center">
              <h5 class="mb-0 pt-1 pb-1">Company Quick Info</h5>
            </div>
          </div>
          <div class="card-body mb-0 pb-0">
            <div class="container px-3">
              <div class="row gx-5">
                <div class="col">
                  <div class="row justify-content-between pr-3">
                    <div class="card-content">EPS (TTM):</div>
                    <p id="quick-data-eps"><strong>{{ data.eps }}</strong></p>
                  </div>
                  <div class="row justify-content-between pr-3">
                    <div class="card-content">P/E:</div>
                    <p id="quick-data-pe"><strong>{{ data.pe_ratio }}</strong></p>
                  </div>
                  <div class="row justify-content-between pr-3">
                    <div class="card-content">
                      Growth Estimate (+5yrs):
                    </div>
                    <div class="row pr-3">
                      <p id="quick-data-eps-growth"><strong>{{ data.eps_growth_rate_percent }}%</strong></p>
                    </div>
                  </div>
                  <div class="row justify-content-between pr-3">
                    <div class="card-content">PEG Ratio:</div>
                    <p id="quick-data-peg-ratio"><strong>{{ data.peg_ratio }}</strong></p>
                  </div>
                </div>
                <div class="col">
                  <div class="row justify-content-between pl-3">
                    <div class="card-content">Enterprise Value/EBITDA:</div>
                    <p id="quick-data-ev-to-ebitda"><strong>{{ data.ev_to_ebitda }}</strong></p>
                  </div>
                  <div class="row justify-content-between pl-3">
                    <div class="card-content">Beta:</div>
                    <p id="quick-data-beta"><strong>{{ data.beta }}</strong></p>
                  </div>
                  <div class="row justify-content-between pl-3">
                    <div class="card-content">Market Cap:</div>
                    <p id="quick-data-market-cap"><strong>{{ data.market_cap }}</strong></p>
                  </div>
                  <div class="row justify-content-between pl-3">
                    <div class="card-content">Shares Outstanding:</div>
                    <p id="quick-data-shares"><strong>{{ data.shares }}</strong></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
    <div class="mt-4 mb-4 ml-4 mr-4 row d-flex justify-content-around">
      <div id="dcf-card" class="col">
        <div class="card custom-card-header w-100">
          <div class="card-header text-center">
            <div class="row d-flex justify-content-center align-items-center">
              <h5 class="mb-0 mr-3">DCF Free Cash Flow Valuation:</h5>
              <button type="button" class="btn" role="button" data-placement="top" data-trigger="hover"
                id="dcf-info-popover">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-info-circle" viewBox="0 0 16 16">
                  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                  <path
                    d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                </svg>
              </button>
            </div>
          </div>
          <div class="card-body pb-3 ml-3 mr-3">
            <div class="row pb-3">
              <div class="col">
                <h5 class="card-content"><strong><u>DCF Value:</u></strong></h5>
              </div>
              <div class="col d-flex justify-content-end">
                <span>$</span>
                <h5 class="card-content" id="dcf-val">{{data.dcf_val}}</h5>
              </div>
            </div>
            <div class="row pb-3 g-3 justify-content-between align-items-center">
              <div class="col-auto">
                <label for="dcf-eps-growth-entry" class="col-form-label">EPS Projected Growth Rate:</label>
              </div>
              <div class="col-sm-4">
                <div class="input-group">
                  <input type="text" name="dcf-eps-growth-entry" id="dcf-eps-growth-entry" class="form-control"
                    value="{{data.eps_growth_rate_percent}}">
                  <span class="input-group-text">%</span>
                </div>
              </div>
            </div>
            <div class="row pb-3 g-3 justify-content-between align-items-center">
              <div class="col-auto">
                <label for="discount-rate-entry" class="col-form-label">Discount Rate:</label>
              </div>
              <div class="col-sm-4">
                <div class="input-group">
                  <input type="text" name="discount-rate" id="discount-rate-entry" class="form-control"
                    value="{{data.default_discount_percent}}">
                  <span class="input-group-text">%</span>
                </div>
              </div>
            </div>
            <div class="row pb-3 g-3 justify-content-between align-items-center">
              <div class="col-auto">
                <label for="terminal-growth-entry" class="col-form-label">Terminal Growth Rate:</label>
              </div>
              <div class="col-sm-4">
                <div class="input-group">
                  <input type="text" name="terminal-growth" id="terminal-growth-entry" class="form-control"
                    value="{{data.default_terminal_growth_percent}}">
                  <span class="input-group-text">%</span>
                </div>
              </div>
            </div>
            <div class="row pb-3 g-3 justify-content-between align-items-center">
              <div class="col-auto">
                <label for="margin-of-safety-entry" class="col-form-label">Margin Of Safety:</label>
              </div>
              <div class="col-sm-4">
                <div class="input-group">
                  <input type="text" name="margin-of-safety" id="margin-of-safety-entry" class="form-control"
                    value="{{data.default_margin_of_safety}}">
                  <span class="input-group-text">%</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="lynch-eval-card" class="col">
        <div class="card w-100">
          <div class="card-header custom-card-header text-center">
            <div class="row d-flex justify-content-center align-items-center">
              <h5 class="mb-0 mr-3">Peter Lynch Valuations:</h5>
              <button type="button" class="btn" role="button" data-placement="top" data-trigger="hover"
                id="lynch-info-popover">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-info-circle" viewBox="0 0 16 16">
                  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                  <path
                    d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                </svg>
              </button>
            </div>
          </div>
          <div class="card-body pb-3 ml-3 mr-3">
            <div class="row pb-3 justify-content-between align-items-center">
              <div class="col-auto">
                <label for="lynch-eps-growth-entry" class="col-form-label">EPS Projected Growth Rate:</label>
              </div>
              <div class="col-sm-4">
                <div class="input-group">
                  <input type="text" name="lynch-eps-growth-entry" id="lynch-eps-growth-entry" class="form-control"
                    value="{{data.eps_growth_rate_percent}}">
                  <span class="input-group-text">%</span>
                </div>
              </div>
            </div>
            <div class="row pb-3">
              <div class="col d-flex justify-content-start">
                <h5 class="card-content"><strong><u>GuruFocus:</u></strong></h5>
              </div>
              <div class="col-sm-4 d-flex justify-content-end">
                <h5 class="card-content" id="lynch-guru-focus">{{data.peter_lynch_calcs["gurufocus"]}}</h5>
              </div>
            </div>
            <div class="row pb-3">
              <div class="col d-flex justify-content-start">
                <h5 class="card-content"><strong><u>NASDAQ:</u></strong></h5>
              </div>
              <div class="col-sm-4 d-flex justify-content-end">
                <h5 class="card-content" id="lynch-nasdaq">{{data.peter_lynch_calcs["nasdaq"]}}</h5>
              </div>
            </div>
            <div class="row pb-0">
              <div class="col d-flex justify-content-start">
                <h5 class="card-content"><strong><u>Custom w/ Dividends:</u></strong></h5>
              </div>
              <div class="col-sm-4 d-flex justify-content-end">
                <h5 class="card-content" id="lynch-custom">{{data.peter_lynch_calcs["my_method"]}}</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row pb-3">
          <div id="ben-graham-formula-eval-card" class="col">
            <div class="card custom-card-header w-100">
              <div class="card-header text-center">

                <div class="row d-flex justify-content-center align-items-center">
                  <h5 class="mb-0 mr-3">Benjamin Graham Valuation</h5>
                  <button type="button" class="btn" role="button" data-placement="top" data-trigger="hover"
                    id="ben-graham-info-popover">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-info-circle" viewBox="0 0 16 16">
                      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                      <path
                        d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                    </svg>
                  </button>
                </div>
              </div>
              <div class="card-body pb-3 ml-3 mr-3">
                <div class="row pb-3 justify-content-between align-items-center">
                  <div class="col-auto">
                    <label for="ben-graham-eps-growth-entry" class="col-form-label">EPS Projected Growth Rate:</label>
                  </div>
                  <div class="col-sm-4">
                    <div class="input-group">
                      <input type="text" name="ben-graham-eps-growth-entry" id="ben-graham-eps-growth-entry"
                        class="form-control" value="{{data.eps_growth_rate_percent}}">
                      <span class="input-group-text">%</span>
                    </div>
                  </div>
                </div>
                <div class="row pb-0">
                  <div class="col-8 d-flex">
                    <h5 class="card-content"><strong><u>Benjamin Graham Formula:</u></strong></h5>
                  </div>
                  <div class="col d-flex justify-content-end align-items-center">
                    <h5 class="card-content" id="ben-graham-formula">{{data.ben_graham_calc}}</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div id="graham-number-eval-card" class="col">
            <div class="card w-100">
              <div class="card-header text-center">
                <div class="row d-flex justify-content-center align-items-center">
                  <h5 class="mb-0 mr-3">Graham Number</h5>
                  <button type="button" class="btn" role="button" data-placement="top" data-trigger="hover"
                    id="graham-number-info-popover">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-info-circle" viewBox="0 0 16 16">
                      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                      <path
                        d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                    </svg>
                  </button>
                </div>
              </div>
              <div class="card-body pb-2 ml-3 mr-3">
                <div class="row pb-0">
                  <div class="col d-flex">
                    <p class="card-content">Book Value Per share:</p>
                  </div>
                  <div class="col d-flex justify-content-end align-items-center">
                    <p id="graham-bvps">{{data.bvps}}</p>
                  </div>
                </div>
                <div class="row pb-0">
                  <div class="col">
                    <h5 class="card-content"><strong><u>Graham Number:</u></strong></h5>
                  </div>
                  <div class="col d-flex justify-content-end align-items-center">
                    <h5 class="card-content" id="graham-number">{{data.graham_num}}</h5>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>


    </div>

    <div class="mt-4 mb-4 ml-4 mr-4 row d-flex justify-content-around">


      <div id="multiples-eval-card" class="col">
        <div class="card custom-card-header w-100">
          <div class="card-header text-center">
            <div class="row d-flex justify-content-center align-items-center">
              <h5 class="mb-0 mr-3">Multiples Valuation:</h5>
              <button type="button" class="btn" role="button" data-placement="top" data-trigger="hover"
                id="multiples-valuation-info-popover">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-info-circle" viewBox="0 0 16 16">
                  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                  <path
                    d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                </svg>
              </button>
            </div>
          </div>
          <div class="card-body pb-2 ml-3 mr-3">
            <div class="row pb-2">
              <div class="col-md-5 d-flex justify-content-center">
                <h5 class="card-content"><u>Company</u></h5>
              </div>
              <div class="col-md-2 d-flex justify-content-center">
                <p><u>EV/EBITDA</u></p>
              </div>
              <div class="col-md-2 d-flex justify-content-center">
                <p><u>P/E Ratio</u></p>
              </div>
              <div class="col-md-2 d-flex justify-content-center">
                <p><u>PEG Ratio</u></p>
              </div>
            </div>
            {% for ticker, company_data in data.multiples_val_companies.items() %}
            <div class="row pb-2">
              <div class="col-md-5 d-flex align-items-center">
                <p class="mb-0"><strong>{{ company_data["company_name"] }} ({{ ticker }})</strong></p>
              </div>
              <div class="col-md-2 d-flex align-items-center justify-content-center">
                <p class="mb-0"><strong>{{ company_data["ev/ebitda"] }}</strong></p>
              </div>
              <div class="col-md-2 d-flex align-items-center justify-content-center">
                <p class="mb-0"><strong>{{ company_data["pe"] }}</strong></p>
              </div>
              <div class="col-md-2 d-flex align-items-center justify-content-center">
                <p class="mb-0"><strong>{{ company_data["peg"] }}</strong></p>
              </div>
            </div>
            <!-- Add a line under each row -->
            <hr class="my-2">
            {% endfor %}
          </div>
        </div>
      </div>
      <div id="recommendation-eval-card" class="col">
        <div class="card w-100">
          <div class="card-header text-center">
            <div class="row d-flex ml-2 align-items-center">
              <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                  <a class="nav-link active" id="dcf-analysis-tab" data-toggle="tab" href="#dcf-analysis">DCF
                    Analysis</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="lynch-analysis-tab" data-toggle="tab" href="#lynch-analysis">Lynch
                    Analysis</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="ben-graham-analysis-tab" data-toggle="tab" href="#ben-graham-analysis">Graham
                    Analysis</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="ratings-tab" data-toggle="tab" href="#ratings">Ratings</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="tab-content mt-2">
            <div class="tab-pane fade show active" id="dcf-analysis">
              <div class="card-body">
                <div class="row justify-content-center">
                  <p>DCF Analysis:</p>
                </div>
                <div class="row">
                  <!-- Left side with Current Price and DCF Fair Value -->
                  <div class="col-md-6">
                    <div class="row justify-content-start pb-4">
                      <div class="col d-flex">
                        <p class="card-content"><strong><u>Current Price:</u></strong></p>
                      </div>
                      <div class="col d-flex">
                        <p class="card-content" id="current-price-dcf-analysis">${{data.current_price}}</p>
                      </div>
                    </div>
                    <div class="row pb-0">
                      <div class="col d-flex">
                        <p class="card-content"><strong><u>DCF Fair Value:</u></strong></p>
                      </div>
                      <div class="col d-flex">
                        <span>$</span>
                        <p class="card-content" id="dcf-analysis">{{data.dcf_val}}</p>
                      </div>
                    </div>
                  </div>
                  <!-- Right side with the value -->
                  <div class="col d-flex justify-content-center">
                    <div class="row align-items-center">
                      <div class="col d-flex justify-content-center">
                        <h5 class="card-content" id="dcf-analysis-grade"></h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="lynch-analysis">
              <div class="card-body">
                <div class="row justify-content-center">
                  <p>Lynch Analysis:</p>
                </div>
                <!-- GuruFocus Analysis -->
                <div class="row">
                  <div class="col d-flex justify-content-start">
                    <p class="card-body"><strong><u>GuruFocus:</u></strong</p>
                  </div>
                  <div class="col d-flex justify-content-start">
                    <p class="card-body" id="lynch-gurufocus-analysis">{{data.peter_lynch_calcs["gurufocus"]}}</p>
                  </div>
                  <div class="col d-flex justify-content-center">
                    <p class="card-body">value</p>
                  </div>
                </div>
                <hr class="my-2">

                <!-- NASDAQ Analysis -->
                <div class="row d-flex align-items-center">
                  <div class="col-md-6">
                    <div class="row">
                      <div class="col">
                        <p class="card-content"><strong><u>NASDAQ:</u></strong></p>
                      </div>
                      <div class="col">
                        <p class="card-content" id="lynch-nasdaq-analysis">${{data.current_price}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <h5 class="card-content" id="lynch-nasdaq-analysis-grade">value</h5>
                  </div>
                </div>
                <hr class="my-2">

                <!-- Custom Analysis -->
                <div class="row d-flex align-items-center">
                  <div class="col-md-6">
                    <div class="row">
                      <div class="col">
                        <p class="card-content"><strong><u>Custom w/ Dividends:</u></strong></p>
                      </div>
                      <div class="col">
                        <p class="card-content" id="lynch-custom-analysis">${{data.current_price}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <h5 class="card-content" id="lynch-custom-analysis-grade">value</h5>
                  </div>
                </div>

              </div>
            </div>
            <div class="tab-pane fade" id="ben-graham-analysis">
              <div class="card-body">
                <div class="row justify-content-center">
                  <p>Benjamin Graham Analysis:</p>
                </div>
                <div class="row">
                  <!-- Left side with Current Price and DCF Fair Value -->
                  <div class="col-md-6">
                    <div class="row justify-content-start pb-4">
                      <div class="col d-flex">
                        <p class="card-content"><strong><u>Current Price:</u></strong></p>
                      </div>
                      <div class="col d-flex">
                        <p class="card-content" id="current-price-ben-graham-analysis">${{data.current_price}}</p>
                      </div>
                    </div>
                    <div class="row pb-0">
                      <div class="col d-flex">
                        <p class="card-content"><strong><u>Ben Graham Fair Value:</u></strong></p>
                      </div>
                      <div class="col d-flex">
                        <span>$</span>
                        <p class="card-content" id="ben-graham-analysis">{{data.ben_graham_calc}}</p>
                      </div>
                    </div>
                  </div>
                  <!-- Right side with the value -->
                  <div class="col d-flex justify-content-center">
                    <div class="row align-items-center">
                      <div class="col d-flex justify-content-center">
                        <h5 class="card-content" id="ben-graham-analysis-grade">value</h5>
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="my-2">
                <div class="row pt-2 justify-content-center">
                  <p>Graham Number Analysis:</p>
                </div>
                <div class="row">
                  <!-- Left side with Current Price and DCF Fair Value -->
                  <div class="col-md-6">
                    <div class="row justify-content-start pb-4">
                      <div class="col d-flex">
                        <p class="card-content"><strong><u>Current Price:</u></strong></p>
                      </div>
                      <div class="col d-flex">
                        <p class="card-content" id="current-price-graham-num-analysis">${{data.current_price}}</p>
                      </div>
                    </div>
                    <div class="row pb-0">
                      <div class="col d-flex">
                        <p class="card-content"><strong><u>Ben Graham Fair Value:</u></strong></p>
                      </div>
                      <div class="col d-flex">
                        <span>$</span>
                        <p class="card-content" id="graham-num-analysis">{{data.graham_num}}</p>
                      </div>
                    </div>
                  </div>
                  <!-- Right side with the value -->
                  <div class="col d-flex justify-content-center">
                    <div class="row align-items-center">
                      <div class="col d-flex justify-content-center">
                        <h5 class="card-content" id="ben-graham-analysis-grade">value</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="tab-pane fade" id="ratings">
              <div class="card-body">
                <!-- Ratings Content Goes Here -->
                <p>Content for Ratings tab.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="mt-4 mb-4 ml-4 mr-4 row d-flex justify-content-around"></div>
  </div>

  <div class="d-flex justify-content-center" id="loader-container">
    <div class="spinner-border text-primary" role="status" id="loader-spinner">
      <div class="visually-hidden"></div>
    </div>
  </div>

  <script>
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

</body>

</html>