<!DOCTYPE html>

<html lang="en">

<head>
  <title>Stock Informant</title>
  <meta charset="utf-8" />
  <link rel="shortcut icon" href="#" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="../static/custom-scripts.js"></script>

  <style>
    form.ticker-entry * {
      box-sizing: border-box;
    }

    #ticker {
      margin: auto;
      width: 55%;
    }

    .loader-container {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.7);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 999;
      display: none;
      /* Initially hidden */
    }

    .loader {
      position: relative;
      top: 25%;
      margin: auto;
      justify-content: center;
      align-items: center;
      border: 5px solid #f3f3f3;
      border-top: 5px solid #3498db;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      animation: spin 2s linear infinite;
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }

    #ticker {
      margin: auto;
      width: 55%;
    }

  </style>
</head>

<body>
  <div class="container-fluid">
    <div class="mt-5 row d-flex justify-content-center">
      <h3><b>Stock Informant</b></h3>
    </div>
    <div id="input-data-row" class="mt-4 mb-4 ml-4 mr-4 row">
      <div class="col-sm-2 d-flex">
        <div class="card w-100">
          <div class="card-header text-center">Fetch Data for Ticker</div>
          <div>
            <div class="card-body">
              <div id="input-container" class="row d-flex text-center justify-content-center">
                <form class="ticker-entry">
                  <input type="text" name="ticker" id="ticker" class="form-control form-control-sm text-center"
                    placeholder="ticker" required />
                  <button type="button" id="fetch-button" class="btn btn-primary mt-2">
                    Fetch Data
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 d-flex justify-content-center">
        <div class="card w-100">
          <div class="card-header">Showing Stock Data For:</div>
          <div class="card-body pb-0 ml-3 mr-3">
            <div class="row justify-content-between">
              <h5 class="card-title pb-2">Company name</h5>
              <h5 class="card-title pb-2" id="company-name">name</h5>
            </div>
            <div class="row justify-content-between">
              <h6 class="card-subtitle mb-2 text-muted pb-2">Current Price</h6>
              <h6 class="card-subtitle mb-2 text-muted pb-2" id="current-price">price</h6>
            </div>
            <div class="row justify-content-between">
              <p class="card-text" id="company-summary">company-summary</p>
            </div>  
          </div>
        </div>
      </div>
      <div id="quick-data" class="col">
        <div class="card w-100">
          <div class="card-header text-center">Company Quick Info</div>
          <div class="card-body pb-0 ml-3 mr-3">
            <div class="row justify-content-between">
              <div class="card-content">EPS (TTM):</div>
              <p id="quick-data-eps">EPS</p>
            </div>
            <div class="row justify-content-between">
              <div class="card-content">P/E:</div>
              <p id="quick-data-pe">pe</p>
            </div>
            <div class="row justify-content-between">
              <div class="card-content">Shares Outstanding:</div>
              <p id="quick-data-shares">shares</p>
            </div>
            <div class="row justify-content-between">
              <div class="card-content">Net Income (TTM):</div>
              <p id="quick-data-net-income">net income</p>
            </div>
            <div class="row justify-content-between">
              <div class="card-content">EPS Current Quarter Growth:</div>
              <p id="quick-data-eps-curr-q">eps curr q</p>
            </div>
            <div class="row justify-content-between">
              <div class="card-content">
                EPS Estimated Growth (Next 5 years):
              </div>
              <p id="quick-data-eps-growth">projected EPS</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-4 mb-4 ml-4 mr-4 row d-flex justify-content-around">
      <div id="dcf-card" class="col">
        <div class="card w-100">
          <div class="card-header text-center">DCF Free Cash Flow Valuation: </div>
          <div class="card-body pb-3 ml-3 mr-3">
            <div class="row justify-content-around align-items-center">
              <div class="card-content"><b>DCF Value:</b></div>
              <p id="dcf-val"><b>val</b></p>
            </div>
            <div class="row pb-3 justify-content-between align-items-center">
              <div class="card-content">EPS Projected Growth Rate: </div>
              <form class="eps-growth-rate-entry">
                <input type="text" name="eps-growth-entry" id="eps-growth-entry" class="form-control form-control-sm text-center"
                  placeholder="EPS Growth Rate" required />
              </form>
            </div>
            <div class="row pb-3 justify-content-between align-items-center">
              <div class="card-content">Discount Rate: </div>
              <form class="discount-rate-entry">
                <input type="text" name="discount-rate" id="discount-rate-entry" class="form-control form-control-sm text-center"
                  placeholder="Discount Rate" required />
              </form>
            </div>
            <div class="row pb-3 justify-content-between align-items-center">
              <div class="card-content">Terminal Growth Rate: </div>
              <form class="terminal-growth-rate-entry">
                <input type="text" name="terminal-growth-entry" id="terminal-growth-entry" class="form-control form-control-sm text-center"
                  placeholder="Terminal Growth Rate" required />
              </form>
            </div>
            <div class="row justify-content-between align-items-center">
              <div class="card-content">Margin Of Safety: </div>
              <form class="margin-of-safety-entry">
                <input type="text" name="margin-of-safety-entry" id="margin-of-safety-entry" class="form-control form-control-sm text-center"
                  placeholder="Margin Of Safety" required />
              </form>
            </div>
          </div>
        </div>
      </div>
      <div id="recommendation-eval-card" class="col">
        <div class="card w-100">
          <div class="card-header text-center">Recommendation</div>
          <div class="card-body pb-0 ml-3 mr-3 mb-3">
            <div class="row justify-content-center">
              <div class="card-content">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="lynch-eval-card" class="col">
        <div class="card w-100">
          <div class="card-header text-center">Peter Lynch Valuation</div>
          <div class="card-body pb-3 ml-3 mr-3">
            <div class="row justify-content-around align-items-center">
              <div class="card-content"><b>Peter Lynch Value:</b></div>
              <p id="peter-lynch-val"><b>val</b></p>
            </div>
            <div class="row justify-content-between align-items-center">
              <div class="card-content">Projected Growth Rate: </div>
              <form class="eps-growth-rate-entry">
                <input type="text" name="eps-growth-entry" id="eps-growth-entry" class="form-control form-control-sm text-center"
                  placeholder="EPS Growth Rate" required />
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-4 mb-4 ml-4 mr-4 row d-flex justify-content-around">
      <div id="ben-graham-formula-eval-card" class="col">
        <div class="card w-100">
          <div class="card-header text-center">Benjamin Graham Valuation</div>
          <div class="card-body pb-3 ml-3 mr-3">
            <div class="row justify-content-between align-items-center">
              <div class="card-content"><b>Benjamin Graham Formula:</b></div>
              <p id="ben-graham-formula-val"><b>val</b></p>
            </div>
            <div class="row justify-content-between align-items-center">
              <div class="card-content">Projected Growth Rate: </div>
              <form class="eps-growth-rate-entry">
                <input type="text" name="eps-growth-entry" id="eps-growth-entry" class="form-control form-control-sm text-center"
                  placeholder="EPS Growth Rate" required />
              </form>
            </div>
          </div>
        </div>
      </div>
      <div id="graham-number-eval-card" class="col">
        <div class="card w-100">
          <div class="card-header text-center">Graham Number</div>
          <div class="card-body pb-2 ml-3 mr-3">
            <div class="row justify-content-between align-items-center">
              <div class="card-content"><b>Graham Number:</b></div>
              <p id="graham-num-val"><b>val</b></p>
            </div>
          </div>
        </div>
      </div>
      <div id="multiples-eval-card" class="col">
        <div class="card w-100">
          <div class="card-header text-center">Multiples Valuation</div>
          <div class="card-body pb-0 ml-3 mr-3">
            <div class="row justify-content-between align-items-center">
              <div class="card-content">Company 1: </div>
              <p>val</p>
            </div>
            <div class="row justify-content-between align-items-center">
              <div class="card-content">Company 2: </div>
              <p>val</p>
            </div>
            <div class="row justify-content-between align-items-center">
              <div class="card-content">Company 3: </div>
              <p>val</p>
            </div>
            <div class="row justify-content-between align-items-center">
              <div class="card-content">Company 4: </div>
              <p>val</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-4 mb-4 ml-4 mr-4 row d-flex justify-content-around">
      
    </div>
  </div>
  <div class="loader-container" id="loader-container">
    <div class="loader"></div>
  </div>


  <script>
    
  </script>
</body>

</html>