<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Stock Informant</title>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="#" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"
  ></script>
    <style>
      #input-container {
        padding-top: 40px;
      }

      form.ticker-entry * {
        box-sizing: border-box;
      }

      #ticker {
        margin: auto;
        width: 55%;
      }
    </style>
  </head>

  <body>
    <div class="container-fluid">
      <div class="mt-5 row d-flex justify-content-center">
        <h4>Stock Informant</h4>
      </div>
      <div id="input-data-row" class="mt-4 mb-4 ml-4 mr-4 row">
        <div class="col-sm-2 d-flex">
          <div id="input-container" class="d-flex text-center">
            <form class="ticker-entry">
              <input
                type="text"
                name="ticker"
                id="ticker"
                class="form-control form-control-sm text-center"
                required
              />
              <button
                type="button"
                id="fetch-button"
                class="btn btn-primary mt-2"
              >
                Fetch Data
              </button>
            </form>
          </div>
        </div>
        <div class="col-md-6 d-flex justify-content-center">
          <div class="card w-100">
            <div class="card-header">Showing Stock Data For:</div>
            <div class="card-body">
              <h5 class="card-title pb-2">Company name</h5>
              <h6 class="card-subtitle mb-2 text-muted pb-2">Current Price</h6>
              <p class="card-text">Company Summary</p>
            </div>
          </div>
        </div>
        <div id="quick-data" class="col">
          <div class="card w-100">
            <div class="card-header text-center">Company Quick Info</div>
            <div class="card-body">
              <div class="card-content pb-2">EPS (TTM):</div>
              <div class="card-content pb-2">P/E:</div>
              <div class="card-content pb-2">Shares Outstanding:</div>
              <div class="card-content pb-2">Net Income (TTM):</div>
              <div class="card-content pb-2">EPS Current Quarter Growth:</div>
              <div class="card-content">
                EPS Estimated Growth (Next 5 years):
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-4 mb-4 ml-4 mr-4 row d-flex justify-content-around">
        <div id="dcf-card" class="col">
          <div class="card w-100">
            <div class="card-header text-center">DCF Valuation</div>
          </div>
          <div class="card">
            <div class="card-header text-center">
              <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="true" href="#fcf"
                    >FCF</a
                  >
                  <div class="card-body">
                    <h6 class="card-title">Free cash Flow</h6>
                    <div class="card-content"></div>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#eps-no-nri">EPS w/o NRI</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Disabled</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div id="lynch-eval-card" class="col">
          <div class="card w-100">
            <div class="card-header text-center">Peter Lynch Valuation</div>
          </div>
        </div>
      </div>
      <div class="mt-4 mb-4 ml-4 mr-4 row d-flex justify-content-around">
        <div id="graham-eval-card" class="col">
          <div class="card w-100">
            <div class="card-header text-center">Benjamin Graham Valuation</div>
          </div>
        </div>
        <div id="multiples-eval-card" class="col">
          <div class="card w-100">
            <div class="card-header text-center">Multiples Valuation</div>
          </div>
        </div>
      </div>
      <div class="mt-4 mb-4 ml-4 mr-4 row d-flex justify-content-around">
        <div id="recommendation-eval-card" class="col">
          <div class="card w-100">
            <div class="card-header text-center">Recommendation</div>
          </div>
        </div>
      </div>
    </div>

    <script>
      $(document).ready(function () {
        // Handle button click event with jQuery
        $("#fetch-button").click(function () {
          // Get the ticker value from the input field
          var ticker = $("#ticker").val();

          // Make an AJAX POST request to fetch data and update the page
          $.ajax({
            method: "POST",
            url: "/fetch_data", // Call the fetch_data function in python
            data: { ticker: ticker },
            dataType: "json",
            success: function (data) {
              if (data) {
              } else {
                alert(
                  "Invalid data or an error occurred while fetching data. Please make sure you entered a correct ticker"
                );
              }
            },
            error: function () {
              alert(
                "Invalid data or an error occurred while fetching data. Please make sure you entered a correct ticker"
              );
            },
          });
        });
      });
    </script>
  </body>
</html>
