  #loader-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Optional overlay background */
    z-index: 9999;
    display: none; /* Initially hidden */
  }


  input {
    text-align: center;
  }

  #loader-container.show {
    display: flex; /* Display when showing the loader */
    justify-content: center;
    align-items: center;
    top: 0;
  }

  .popover {
    max-width: 40%;
    height: auto;
  }

  .popover-body {
    padding: 0px;
  }

  #loader-spinner {
    width: 4rem;
    height: 4rem;
  }


  form.ticker-entry * {
    box-sizing: border-box;
  }

  #initial-ticker {
    margin: auto;
    width: 55%;
  }

  #ticker {
    margin: auto;
    width: 55%;
  }

  .card-header {
    padding-bottom: .5rem;
    padding-top: .5rem;
  }